<main id="main">
  <div class="d-flex flex-lg-column interactions">
    <div class="like-container">
      <span
        value="<%=blogData._id%>"
        class="likes d-flex flex-lg-column"
        ><% if(typeof liked!=='undefined'){%><% if(liked){%><i
          class="like-icon bi fs-4 bi-heart-fill text-danger"
        ></i
        ><%}else{%><i class="like-icon bi fs-4 bi-heart"></i><%} %> <%}else{%><i
          class="like-icon bi fs-4 bi-heart"
        ></i
        ><%} %>
        <small class="likes-count text-center"
          ><%=blogData.likeLength%></small
        ></span
      >
    </div>
    <div class="fav-container">
      <span
        class="fav"
        value="<%=blogData._id %>"
        ><%if(typeof faved !== 'undefined'){%> <%if(faved){%>
        <i class="bi fav-icon fs-4 bi-bookmark-heart-fill text-warning"></i>
        <%}else{%>
        <i class="bi fav-icon fs-4 bi-bookmark-heart"></i>
        <%} %> <%}else{%>
        <i class="bi fav-icon fs-4 bi-bookmark-heart"></i><% } %>
      </span>
    </div>
  </div>
  <section class="single-post-content">
    <div class="container">
      <div class="row">
        <div
          class="col-md-9 post-content"
          data-aos="fade-up"
        >
          <!-- ======= Single Post Content ======= -->
          <div class="rounded single-post">
            <div
              class="p-3 mb-4"
              style="word-break: keep-all"
            >
              <div class="post-meta">
                <span class="date"><%=blogData.category%> </span>
                <span class="mx-1">&bullet;</span>
                <span
                  ><%=blogData.createdAt.getDate()%>/
                  <%=blogData.createdAt.getMonth() %>
                </span>
              </div>
              <% if(typeof blogData.coverImage !== 'undefined'){%>
              <img
              loading="lazy"
                src="<%=blogData.coverImage%>"
                alt=""
                class="img-fluid cover-img"
              />
              <%} %>
              <h1 class="mb-3 read-title"><%=blogData.title%></h1>
              <div class="d-flex gap-3">
                <span
                  id="reading-time"
                  class="font-tertiary color-secondary-dark"
                ></span>
                <span class="mx-1">&bullet;</span>
                <span class="font-tertiary color-secondary-dark"
                  >#<%=blogData.category%></span
                >
              </div>
            </div>

            <div
              class="blog-content"
              id="blog-content"
            >
              <%-blogData.content%>
            </div>
          </div>
          <!-- End Single Post Content -->
        </div>
        <div
          class="col-md-3 p-5 p-md-auto"
          style="flex-flow: column; overflow-y: auto"
        >
          <div class="aside-block">
            <h3 class="aside-title">Categories</h3>
            <ul class="aside-links list-unstyled">
              <li>
                <a
                  href="/category/travel"
                  class="ms-3"
                >
                  Travel</a
                >
              </li>
              <li>
                <a
                  href="/category/culture"
                  class="ms-3"
                >
                  Culture</a
                >
              </li>
              <li>
                <a
                  href="/category/sport"
                  class="ms-3"
                >
                  Sport</a
                >
              </li>
              <li>
                <a
                  href="/category/food"
                  class="ms-3"
                >
                  Food</a
                >
              </li>
              <li>
                <a
                  href="/category/space"
                  class="ms-3"
                >
                  Space</a
                >
              </li>
              <li>
                <a
                  href="/category/cars"
                  class="ms-3"
                >
                  Cars</a
                >
              </li>
              <li>
                <a
                  href="/category/startups"
                  class="ms-3"
                >
                  Startups</a
                >
              </li>
              <li>
                <a
                  href="/category/tech"
                  class="ms-3"
                >
                  Tech</a
                >
              </li>
              <li>
                <a
                  href="/category/global"
                  class="ms-3"
                >
                  Global</a
                >
              </li>
            </ul>
          </div>
          <!-- End Categories -->

          <!-- End Tags -->
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

<a
  href="#"
  class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(() => {
    // Get the article content
    const articleContent = $('#blog-content').text();

    // Calculate the word count
    const wordCount = articleContent.split(/\s+/).length;

    // Estimate the reading time (assuming average reading speed of 200 words per minute)
    const readingTime = Math.ceil(wordCount / 200); // Round up to the nearest whole number

    // Display the reading time
    $('#reading-time').text(readingTime + ' min read');
  });
</script>
